// COMMON
// *******************************
.p-link1 {
    color: #222;

    .c-title1 {
        margin: 68px auto 0;
        max-width: 1000px;
        width: 100%;
    }

    // LINK BLOCKS
    // *******************************
    .c-linkBlocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
        line-height: 1.25;

        .c-linkBlocks__link {
            text-decoration: none;
            text-align: center;
            vertical-align: center;
            background-color: #00aeef;
            padding: 11px 9px 13px 8px;
            border-radius: 5px;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
            margin-top: 39px;
            margin-left: -1px;
        }

        .c-linkBlocks__link1 {
            width: 283px;
        }

        .c-linkBlocks__link2 {
            width: 283px;
            transform: translate(-1px, 0);
        }

        .c-linkBlocks__link3 {
            width: 283px;
        }

        .c-linkBlocks__link::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            padding-right: 3px;
            display: inline-block;
            transform: translate(-2px, 1px);
        }
    }
    // TITLE ANCHOR LINK 1
    // *******************************
    .c-title1__heading {
        font-size: 1.8rem;
        font-weight: bold;
        padding-bottom: 11px;
        border-bottom: solid 2px #ccc;
        text-transform: uppercase;
        margin-left: -1px;
        line-height: 1.11;
    }

    .c-title1__description {
        font-weight: 500;
        margin-top: 26px;
        margin-left: -1px;

        .c-title1__description--blue {
            color: #1f53fa;
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    .c-title1__articleList {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 45px;
        column-gap: 50px;

        .c-title1__article {
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            .c-title1__thumbnail {
                width: 300px;
                height: 185px;
            }

            .c-title1__headline {
                display: block;
                width: 100px;
                height: 30px;
                margin-top: 15px;
                background-color: #a3d39c;
                text-align: center;
                font-weight: 500;
                padding: 5px 11px 0 9px;
                font-size: 1.4rem;
            }

            .c-title1__headline--yellow {
                background-color: #fff799 !important;
            }

            .c-title1__headline--pink {
                background-color: #ffdfdf !important;
            }

            .c-title1__headline3 {
                width: 70px !important;
            }

            .c-title1__headline5 {
                padding: 5px 9px 0;
                width: 130px !important;
            }

            .c-title1__content {
                margin-top: 16px;

                h2 {
                    font-weight: 500;
                    font-size: 1.4rem;
                }

                h3 {
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // TITLE ANCHOR LINK 2
    // *******************************
    .c-title2 {
        margin: 55px auto 0;
        max-width: 1000px;
        width: 100%;

        .c-title2__heading {
            font-size: 1.8rem;
            font-weight: bold;
            padding-bottom: 11px;
            border-bottom: solid 2px #ccc;
            text-transform: uppercase;
            margin-left: -1px;
            line-height: 1.11;
        }

        .c-title2__articleList {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 15px;
            column-gap: 17px;

            .c-title2__article {
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                .c-title2__thumbnail {
                    width: 235px;
                    height: 185px;
                }

                .c-title2__thumbnail4 {
                    margin-left: 1px;
                }

                .c-title2__thumbnail--aligned {
                    margin-left: 0;
                }

                .c-title2__headline {
                    display: block;
                    height: 30px;
                    margin-top: 15px;
                    background-color: #a3d39c;
                    text-align: center;
                    line-height: 2.14;
                    width: fit-content;
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                .c-title2__headline1 {
                    padding: 0 25px 0 21px;
                }

                .c-title2__headline2 {
                    padding: 0 23px 0 20px;
                    margin-left: -1px;
                }

                .c-title2__headline3 {
                    padding: 0 23px 0 22px;
                    margin-left: 0;
                }

                .c-title2__headline4 {
                    padding: 0 22px 0 21px;
                    margin-left: 1px;
                }

                .c-title2__headline5 {
                    padding: 0 24px 0 21px;
                }

                .c-title2__headline6 {
                    padding: 0 23px 0 20px;
                    margin-left: -1px;
                }

                .c-title2__headline7 {
                    padding: 0 24px 0 21px;
                    margin-left: 0;
                }

                .c-title2__headline8 {
                    padding: 0 23px 0 20px;
                }

                .c-title2__content {
                    margin-top: 16px;

                    h3 {
                        font-weight: 500;
                        font-size: 1.4rem;
                    }
                }

                .c-title2__content--aligned {
                    margin-left: -1px;
                }

                .c-title2__content--alignedleft {
                    margin-left: 0;
                }

                .c-title2__content--alignedleftbigger {
                    margin-left: 1px;
                }

                .c-title2__headline--yellow {
                    background-color: #fff799 !important;
                }

                .c-title2__headline--pink {
                    background-color: #ffdfdf !important;
                }
            }
        }
    }

    // TITLE ANCHOR LINK 3
    // *******************************
    .c-title3 {
        margin: 55px auto 0;
        max-width: 1000px;
        width: 100%;

        .c-title3__heading {
            font-size: 1.8rem;
            font-weight: bold;
            padding-bottom: 11px;
            border-bottom: solid 2px #ccc;
            text-transform: uppercase;
            margin-top: 50px;
            margin-left: -1px;
            line-height: 1.11;
        }

        .c-title3__tableHeading {
            font-size: 1.6rem;
            font-weight: bold;
            background-color: #ece6e6;
            padding: 10px 23px 10px 14px;
            line-height: 1.25;
        }

        .c-title3__tableHeading1 {
            margin-top: 30px;
        }

        .c-title3__tableHeading2 {
            margin-top: 50px;
            padding: 11px 23px 9px 15px;
        }

        .c-title3__tableDescription1 {
            margin-top: 21px;
            font-weight: 500;
            margin-left: -1px;

            .c-title3_tablecontent--red {
                color: #f00;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }

        .c-title3__tableDescription2 {
            margin-top: 21px;
            margin-left: 1px;
            font-weight: 500;

            .c-title3_tablecontent--yellow {
                color: #ff9c00;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }

        .c-title3__table {
            border-collapse: collapse;
            margin-top: 15px;
            font-weight: 500;
            line-height: 1.43;
            margin-left: -1px;

            .c-title3__row36px {
                height: 36px;

                .c-title3__col141px {
                    width: 141px;
                }
            }

            tr > * {
                width: 140px;
                height: 35px;
                text-align: center;
                border: solid 1px #ccc;
            }

            tr > :first-child {
                width: 67px;
            }

            th {
                color: #fff;
            }

            .c-title3__tablecell--green {
                background-color: #acd373;
            }

            .c-title3__tablecell--grey {
                background-color: #ece6e6;
            }

            .c-title3__tablecell--grey2 {
                background-color: #d3d7d9;
                color: #222;
                font-weight: 500;
            }

            .c-title3__tablecell--blue {
                background-color: #6dcff6;
            }

            .c-title3__tablecell--aligned {
                width: 142px;
            }

            .c-title3__tablecell--aligned2 {
                width: 141px;
            }
        }

        .c-title3__table--aligned {
            margin-top: 15px;
        }
    }
}
