.c-news {
    margin: 0 100px;
    padding-bottom: 60px;
    margin: 43px auto 0;
    max-width: 1000px;
    width: 100%;

    .c-news__secheading {
        font-size: 24px;
        padding: 7px 0 5px 20px;
        border: 1px solid #ffd800;
        border-left: 7px solid #ffd800;
        background-color: #fff9da;
        font-weight: 700;
    }

    .c-news__articlelist article {
        display: grid;
        grid-template-columns: 350px 650px;
        margin-top: 30px;

        .c-news__thumbnail {
            position: relative;
            background-image: url(../../_public/assets/img/News/Image.jpg);
            width: 350px;
            height: 190px;

            .c-news__headline {
                position: absolute;
                top: 0;
                left: 0;
                padding: 4px 21px;
                background-color: #a3d39c;
                line-height: 1.6;
            }

            .c-news__headline--yellow {
                background-color: #fff799 !important;
            }

            .c-news__headline--pink {
                background-color: #ffdfdf !important;
            }

            .c-news__headline--aligned {
                padding: 4px 20px 4px 22px;
            }
        }

        .c-news__content {
            padding-left: 40px;
            position: relative;

            .c-news__heading {
                font-size: 16px;
                margin-top: -4px;
            }

            .c-news__text {
                margin-top: 8px;
                line-height: 1.45;
                font-weight: 500;
            }

            .c-news__text--aligned {
                margin-top: -1px;
            }

            .c-news__link {
                display: inline-block;
                position: absolute;
                background-color: #afafaf;
                border-radius: 5px;
                width: 150px;
                height: 50px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                line-height: 51px;
                bottom: 1px;
                right: 1px;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    .c-news__viewmore {
        margin-top: 61px;
        display: block;
        width: 296px;
        height: 61px;
        background-color: #ffd800;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 64px;
        text-align: center;
        border: 2px solid #000;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        transform: translate(-1px, 0);
        font-weight: 700;
    }
}
