/* BLOG
******************************************** */
.c-blog {
    margin: 0 100px;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;

    .c-blog__secheading {
        font-size: 24px;
        padding: 7px 0 5px 20px;
        border: 1px solid #ffd800;
        border-left: 7px solid #ffd800;
        border: 1px solid #6dcff6 !important;
        border-left: 7px solid #6dcff6 !important;
        background-color: #ebebeb;
    }

    .c-blog__articlelist {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 45px;
        column-gap: 50px;

        .c-blog__thumbnail {
            background-image: url(../../_public/assets/img/Blog/Image.jpg);
            width: 475px;
            height: 185px;
        }

        .c-blog__headline {
            width: 100px;
            height: 30px;
            margin-top: 15px;
            background-color: #a3d39c;
            text-align: center;
            line-height: 30px;
            font-weight: 500;
        }

        .c-blog__headline--pink {
            background-color: #ffdfdf !important;
        }

        .c-blog__headline2,
        .c-blog__headline4 {
            width: 70px;
        }

        .c-blog__content {
            margin-top: 16px;
            line-height: 1.44;
            font-weight: 500;
        }
    }

    .c-blog_viewmore {
        margin-top: 44px;
        display: block;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid #000;
        border-radius: 5px;
        background-color: #6dcff6 !important;
        padding: 18px 446px 16px 441px;
        transform: translate(1px, 0);
        transform: translate(1px, 0);
        font-weight: 700;
    }
}
