.c-header {
    margin: 20px auto 0;
    max-width: 1000px;
    width: 100%;

    .c-header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 19px;
        border-bottom: solid 1px #a8a8a8;
    }

    .c-header__navlinks {
        li {
            display: inline-block;
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .c-header__1 {
            display: inline-block;
            margin-right: 27px;
            font-weight: 400;
        }

        .c-header__2 {
            display: inline-block;
            transform: translate(1px, 0);
            margin-right: 29px !important;
            font-weight: 400;
        }

        .c-header__3 {
            display: inline-block;
            transform: translate(1px, 0);
            font-weight: 400;
        }

        .c-header__link--bold {
            font-weight: 700;
        }
    }

    // BREADCRUMBS HEADER
    // *******************************

    .c-header__home {
        list-style-type: none;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 25px;
        color: #000;
        position: relative;
        right: -19px;
        text-decoration: underline;
        line-height: 1.4286;
        transform: translate(1px, 2px);
        transform: translate(1px, 2px);
    }

    .c-header__home::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f015";
        padding-right: 2px;
        position: absolute;
        left: -21px;
        top: -1px;
    }

    .c-header__link1,
    .c-header__link2 {
        position: relative;
        right: -42px;
        text-decoration: none;
        display: none;
        top: 1px;
        font-weight: 500;
    }

    .c-header__link1::before,
    .c-header__link2::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        padding-right: 5px;
        margin-left: -1px;
        position: absolute;
        left: -14px;
        bottom: 0;
    }

    .c-header__link--displayed {
        display: inline-block;
    }
}
