.c-header {
  margin: 20px auto 0;
  max-width: 1000px;
  width: 100%;

  .c-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: solid 1px #ccc;
  }

  .c-header__navlinks {
    li {
      display: inline-block;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    .c-header__1 {
      display: inline-block;
      margin-right: 27px;
      font-weight: 400;
    }

    .c-header__2 {
      display: inline-block;
      transform: translate(1px, 0);
      margin-right: 29px !important;
      font-weight: 400;
    }

    .c-header__3 {
      display: inline-block;
      transform: translate(1px, 0);
      font-weight: 400;
    }

    .c-header__link--bold {
      font-weight: 700;
    }
  }

  // BREADCRUMBS
  // *******************************

  // .c-header__breadcrumb {
  //     list-style-type: none;
  //     display: block;
  //     // display: none;
  //     margin-top: 25px;
  //     max-width: 1000px;
  //     width: 100%;
  //     margin-left: auto;
  //     margin-right: auto;
  //     text-decoration: none;
  //     color: #000;
  // }

  // .c-header__breadcrumb::before {
  //     font-family: "Font Awesome 5 Free";
  //     font-weight: 900;
  //     content: "\f015";
  //     padding-right: 5px;
  //     margin-left: -1px;
  // }

  // .c-header__breadcrumb--displayed {
  //     display: block;

  .c-header__home {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 25px;
    color: #000;
    position: relative;
    right: -20px;
    top: 1px;
    text-decoration: underline;
    // text-decoration-color: #868686;
  }

  .c-header__home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    padding-right: 0;
    position: absolute;
    left: -21px;
    // transform: translate(1px,-1px);
  }

  .c-header__link1,
  .c-header__link2 {
    position: relative;
    right: -42px;
    text-decoration: none;
    display: none;
    top: 2px;
    font-weight: 500;
  }

  .c-header__link1::before,
  .c-header__link2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    padding-right: 5px;
    margin-left: -1px;
    position: absolute;
    left: -14px;
    bottom: -3px;
  }

  .c-header__link--displayed {
    display: inline;
  }
}
