/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 400;
    min-width: $base-width;
    line-height: 20px;
    @include sp {
        min-width: 320px;
    }
    margin-left: auto !important;
    margin-right: auto !important;
}
