/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 400;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
