<!-- BREADCRUMB FOOTER
  ****************************** -->
<footer class="c-footer">
  <div class="c-footer__breadcrumb">
    <div class="c-footer__breadcrumbcont">
      <a href="#" class="c-footer__home">Home</a>
      <p class="c-footer__link1 c-footer__link--displayed">Link1</p>
      <p class="c-footer__link2 c-footer__link--displayed">Link2</p>
    </div>
  </div>
  <div class="c-footer__linklist">
    <div class="c-footer__linklistcont">
      <div class="c-footer__boxlink1">
        <p class="c-footer__listheading">Box link 1</p>
        <ul>
          <li><a>Link link</a></li>
          <li><a>Link &nbsp;link link</a></li>
          <li><a>Link &nbsp;link link link link</a></li>
          <li><a>Link link link</a></li>
          <li><a>Link link link link</a></li>
        </ul>
      </div>
      <div class="c-footer__boxlink2">
        <p class="c-footer__listheading c-footer__listheading--aligned">
          Box link 1
        </p>
        <ul>
          <li><a>Link link link link link link</a></li>
          <li><a>Link&nbsp;&nbsp;link link link link link link link</a></li>
          <li><a>Link&nbsp;&nbsp;link link link link</a></li>
          <li><a>Link link link link link link link</a></li>
          <li><a>Link link link link link link link link link</a></li>
        </ul>
      </div>
      <div class="c-footer__boxlink3">
        <p class="c-footer__listheading">Box link 1</p>
        <ul>
          <li><a>Link link link link link link link link</a></li>
          <li><a>Link &nbsp;link link</a></li>
          <li><a>Link &nbsp;link link link link</a></li>
          <li><a>Link link link link link link link link link link</a></li>
          <li><a>Link link link link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="c-footer__copyright">© Copyright Allgrow Labo 2018</p>
</footer>
