<footer class="c-footer">
  <!-- BREADCRUMB
    ****************************** -->
  <div class="c-footer__breadcrumb">
    <a href="#" class="c-footer__home">Home</a>
    <a href="#" class="c-footer__link1 c-footer__link--displayed">Link1</a>
    <a href="#" class="c-footer__link2 c-footer__link--displayed">Link2</a>
  </div>
  <div class="c-footer__linklist">
    <div class="c-footer__boxlink1">
      <p class="c-footer__listheading">Box link 1</p>
      <ul>
        <li>Link link</li>
        <li>Link &nbsp;link link</li>
        <li>Link &nbsp;link link link link</li>
        <li>Link link link</li>
        <li>Link link link link</li>
      </ul>
    </div>
    <div class="c-footer__boxlink2">
      <p class="c-footer__listheading c-footer__listheading--aligned">
        Box link 1
      </p>
      <ul>
        <li>Link link link link link link</li>
        <li>Link&nbsp;&nbsp;link link link link link link link</li>
        <li>Link&nbsp;&nbsp;link link link link</li>
        <li>Link link link link link link link</li>
        <li>Link link link link link link link link link</li>
      </ul>
    </div>
    <div class="c-footer__boxlink3">
      <p class="c-footer__listheading">Box link 1</p>
      <ul>
        <li>Link link link link link link link link</li>
        <li>Link &nbsp;link link</li>
        <li>Link &nbsp;link link link link</li>
        <li>Link link link link link link link link link link</li>
        <li>Link link link link</li>
      </ul>
    </div>
  </div>
  <p class="c-footer__copyright">© Copyright Allgrow Labo 2018</p>
</footer>
