<header class="c-header">
  <nav class="c-header__nav">
    <img src="assets/img/250 x 50.jpg" alt="logo" />
    <ul class="c-header__navlinks">
      <li><a class="c-header__1" href="link1.html">Home</a></li>
      <li><a class="c-header__2" href="#">Link 1</a></li>
      <li><a class="c-header__3" href="#">Link 2</a></li>
    </ul>
  </nav>
  <a href="#" class="c-header__breadcrumb">Home</a>
  <div class="c-header__banner">
    <img src="assets/img/Image.jpg" alt="banner" />
    <div class="c-header__headline">Category 1</div>
    <p class="c-header__content">
      Title title
      title&nbsp;&nbsp;title&nbsp;&nbsp;title&nbsp;&nbsp;title&nbsp;&nbsp;title
      title&nbsp;&nbsp;title
      <span>title&nbsp;&nbsp;title&nbsp;&nbsp;title&nbsp;&nbsp;title</span>
    </p>
  </div>
</header>
