<header class="c-header">
  <nav class="c-header__nav">
    <a href="./index.html"
      ><img class="c-header__img" src="./assets/img/250x50.jpg" alt="Home page"></a>
    <ul class="c-header__navlinks">
      <li>
        <a class="c-header__1" href="./index.html">Home</a>
      </li>
      <li>
        <a class="c-header__2" href="./link1.html">Link 1</a>
      </li>
      <li>
        <a class="c-header__3" href="./link2.html">Link 2</a>
      </li>
    </ul>
  </nav>

  <!-- BREADCRUMB HEADER 
    ****************************** -->
  <a href="#" class="c-header__home">Home</a>
  <p class="c-header__link1 c-header__link--displayed">Link1</p>
  <p class="c-header__link2 c-header__link--displayed">Link2</p>
</header>
